<h1>choose your dude</h1>
<form class="form" action="/" method="post">
    <label for=''>
        Ash
        <input type="radio" id="ash" name="pic_link" value="characters/ash.png">
    </label>
    <label for=''>
        James
        <input type="radio" id="james" name="pic_link" value="characters/james.png">
    </label>
    <label for=''>
        Jessie
        <input type="radio" id="jessie" name="pic_link" value="characters/jessie.png">
    </label>
    <label for=''>
        Misty
        <input type="radio" id="misty" name="pic_link" value="characters/misty.png">
    </label>
    <label for='username'>
         <input type="text" id="username" name="name" value="Brock">
    </label>
    <input type="submit" value="Submit">
</form>