<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Let's battle!</title>
  </head>
  <body>
    <div class="circleLine animated fadeIn slow">
      <div class="bigCircle"></div>
      <div class="smallCircle one"></div>
      <div class="smallCircle two"></div>
      <div class="smallCircle three"></div>
    </div>
   
   {{{body}}}
  </body>
</html>
