<a href="/">Go back to Home</a>
<h1>{{user.name}}</h1>
  <img src="{{user.pic_link}}" alt="">
  <img src="{{pokemon.big_image}}" alt="">
  <div style="border: outset 2px; border-radius: 15px; background-color: gainsboro;">
    <h3>{{pokemon.pokemon_info}}</h3>
  </div>
